html, body {
	font-family: "Source Sans Pro", sans-serif;
	background-color: #FFFFFF;
	text-align: center;
}
img {
	text-align: center;
	margin-top: 30px;
}
h1 {
	font-weight: 700;
	font-size: 50px;
	text-transform: uppercase;
}
h2 {
	font-size: 40px;
}
h2, h3, h4 {
	font-weight: 700;
	text-transform: uppercase;
}
iframe {
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
section {
	margin-top: 50px;
	margin-bottom: 50px;
}
ul {
	list-style-type: none;
}
p, li {
	font-size: 18px;
}
h4 {
	font-size: 26px;
}
#logo {
	height: 50px;
	width: 50px;
}
nav {
	padding-top: 0px;
	padding-bottom: 5px;
	margin-bottom: 100px;
}
.nav-h1 {
	font-size: 30px;
	color: #FFFFFF;
}